.footer{
    position: relative;
    background-color: #fff;
    color: #000;
    
}

.container__footer{
    padding: 0 24px;
}

@media (min-width: 1280px){
    .container__footer{
        padding: 0 64px;
    }
}

.dark__footer{
    background-color: #ECECEC;
}

.top__footer{
    display: flex;
    flex-direction: column;
    padding-left: auto;
    padding-right: auto;
    max-width: 1600px;
    align-items: center;
    padding: 24px 0;
}

@media(min-width: 1280px){
    .top__footer{
        flex-direction: row;
        padding: 16px 0;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}

.top__footer__text{
    font-size: 18px;
    text-align: center;
    margin-bottom: 16px;
    font-family: "New-Grotesk-Square";
}

@media(min-width: 1280px){
    .top__footer__text{
        width: 50%;
        font-size: 24px;
        margin-bottom: 0;
        text-align: left;
    }
}
.top__footer__inputs{
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media(min-width: 1280px){
    .top__footer__inputs{
        width: 50%;
        flex-direction: row;
        align-items: center;
    }
}

.footer__input__box{
    color: #575757;
    padding: 12px 25px;
    font-size: 16px;
    border: 1px solid #ccc;
    line-height: 30px;
    height: auto;
    margin-bottom: 8px;
    background-color: #fff;

}
@media(min-width: 1280px){
    .footer__input__box{
        width: 100%;
        margin-right: 16px;
        margin-bottom: 0;
    }
}

.button{
    display: inline-flex;
    padding: 0 20px;
    min-height: 48px;
    color: #000;
    background-color: #00AFDB;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    text-align: center;
    max-width: 413px;
    border: 0;
    text-transform: uppercase;
    font-family: "neue-haas-grotesk-text";
    cursor: pointer;

    

}

@media (min-width: 1280px) {
    .button{
        width: 125px;
    }
    
}

.footer__menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
}

@media(min-width: 1280px){
    .footer__menu{
        flex-direction: row;
    }
}

.link__footer__menu{
    margin-bottom: 8px;
    font-size: 14px;
    font-family:"neue-haas-grotesk-text";
}

.link__footer__menu:hover{
    color: #00AFDB;
}

.footer__drop__menu{
    margin-top: 24px;
}

.footer__drop__menu__text{
    font-size: 14px;
    margin-bottom: 12px;
    font-family:"neue-haas-grotesk-text";
}

input[type="checkbox"]{
    display: none;
}

.footer__menu__links__link{
    margin-bottom: 8px;
}

.footer__dropdown__menu{
    border: 2px solid #000;
    display: inline-flex;
    align-items: center;
    min-width: 165px;
    position: relative;
    font-family:"neue-haas-grotesk-text";

    
    
    
}

.countrys{
    width: 100%;
    padding: 12px 16px;
    cursor: pointer;
}

.countrys__label{
    display: flex;
    justify-content: space-between;
}

.dropdown__label{
    margin-right: 16px;
    
    
}

.drop__menu__item{
    position: absolute;
    padding: 0 16px;
    overflow: hidden;
    z-index: 20;
    
    max-height: 225px;
    top: 46px;
    left: 0;
    right: 0;
    display: none;
    border: none;
    background-color: #fff;
    
   
}

.dmll{
    width: 100%;
    display: inline-block;
}


.drop__menu__links{
    
    padding: 12px 0;
    border-bottom: 1px solid #DBDBDB;
    
    
}

.drop__menu__links__link{
    width: 100%;
    z-index: 25;
    color: #000;
}



.dropdown__footer:checked ~.drop__menu__item{
    display: block;
}

.footer__middle__setcion{
    margin-top: 24px;
}

.middle__section__icon{
    display: flex;
    align-items: center;
    
}

.fu{
    height: auto;
    max-width: 100%;
    margin-right: 16px;
}

.footer__container__image{
    height: 48px;
    margin-bottom: 24px;
}

@media (min-width: 1280px){
    .footer__container__image{
        position: absolute;
        height: 48px;
        top: 120px;
        right: 20px;
    }
}

.footer__botom{
   padding: 16px 0;
    font-family:"neue-haas-grotesk-text";
    font-size: 14px;
}

.footer__secure{
    display: flex;
    align-items: center;
    
}
.secure__label{
    margin-left: 8px;
    
}

.pay__card{
    display: inline-block;
    height: 20px;
    margin-right: 16px;
}

.copy{
    display: flex;
    align-items: center;
    padding: 16px 0;
}

@media (min-width: 1280px){
    .copy{
        padding: 0;
    }
}

.pc{
    height: 100%;
}