@font-face {
    font-family: 'helveticaneuecyrbold';
    src: url('helveticaneuecyr-bold-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'helveticaneuecyrheavy';
    src: url('./fonts/helveticaneuecyr-heavy-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helveticaneuecyrlight';
    src: url('./fonts/helveticaneuecyr-light-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helveticaneuecyrmedium';
    src: url('./fonts/helveticaneuecyr-medium-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helveticaneuecyrroman';
    src: url('./fonts/helveticaneuecyr-roman-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helveticaneuecyrthin';
    src: url('./fonts/helveticaneuecyr-thin-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helveticaneuecyrthin_italic';
    src: url('./fonts/helveticaneuecyr-thinitalic-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helveticaneuecyrultralight';
    src: url('./fonts/helveticaneuecyr-ultralight-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: "EnglishGrotesque";
  src:  url("./fonts/EnglishGrotesque-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
    font-family: "Oswaldregular";
    src: url ("./fonts/Oswald-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family:"neue-haas-grotesk-text";
  src: url("https://use.typekit.net/af/550c82/00000000000000003b9b2052/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"), url("https://use.typekit.net/af/550c82/00000000000000003b9b2052/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"), url("https://use.typekit.net/af/550c82/00000000000000003b9b2052/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
  font-style: normal;
  font-weight: 500;
  font-display: auto;
}

@font-face {
  font-family: "New-Grotesk-Square";
  src: url("./fonts/NewGroteskSquare-FOUR.otf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Veneer";
  src: url("./fonts/Veneer.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face{ 
  font-family: "League-Gothic";
  src:  url("./fonts/LeagueGothic-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  }